@charset "UTF-8";
/* CSS Document */
body{
  /*hier kompt de bepaling vd typografie */
  /*font-family:''*/
}

img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
/* volgende regel gaat de klasse "container-fluid" beschrijven*/
.container-fluid {
  width: 100%;
  padding-right: 2vw;
  padding-left: 2vw;
  margin-right: auto;
  margin-left: auto;
}
/* */
h1{font-family: 'Muli', sans-serif;
font-weight: 700;
font-size: 30px;
margin-top: 200px;}
h2{font-family: 'Muli', sans-serif;
  margin-top: 40vh;
  font-weight: bold;
  font-size: 16px;
}
h3{}
h4{}
h5{}
h6{}
p{font-family: 'Lora', serif;
margin-top: 30px;
font-size: 15px;
}
br{ line-height: 30px;}

/* */
.navbar{top:36px;
left:30px;position: absolute;}
.navtoggle{max-width: 10px; max-height: 10px;}
.navbar-brand{margin-top:0vh;
  margin-left: 4vh;
  position: center;
  color: black;
  font-family: 'Muli', sans-serif;
font-size: 22px;
font-weight: 600;
font-kerning: auto;}
.description{color:#cccccc;
font-family: 'Muli', sans-serif;
font-size: 15px;
font-weight: 420;}
.nav-link{color: #000000;
font-family: 'Muli', sans-serif;
font-size: 18px;
font-weight: 420;}
/* */
.contentsection{
  padding-top:3vh;
  font-size: 18px;
  font-kerning: auto;
}

.image3{

}
.contentimage{
  padding-top: 3vh;
}
.carousel{
}

.contentsectioncol3{
  padding-top:68.4vh;
  font-size: 18px;
  font-kerning: auto;
}
.contentsectiontitle{

}
.contentsectiontitle h1,
.contentsectiontitle h2,
.contentsectiontitle h3,
.contentsectiontitle p{
}
.contentimageworks{
  padding-top: 3vh;
}
.contentimageworks2{
  padding-top: 30.1vh;
}
.MagicScroll{

}

/* .carousel-inner.vertical > .item {
    -webkit-transition: .10s ease-in-out bottom;
    -moz-transition: .10s ease-in-out bottom;
    -o-transition: .10s ease-in-out bottom;
    transition: .10s ease-in-out bottom;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
.carousel-inner.vertical > .item {
    -webkit-transition:-webkit-transform .6s ease-in-out;
    -moz-transition:-webkit-transform .6s ease-in-out;
    -o-transition:-o-transform .6s ease-in-out;
    transition:transform .6s ease-in-out;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-perspective:1000;
    -moz-perspective:1000;
}
.carousel-inner.vertical > .item.next,
.carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    -moz-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top:0px;
}.carousel-inner.vertical > .item.prev,
.carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    -moz-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0px;
}
.carousel-inner.vertical > .item.next.left,
.carousel-inner.vertical > .item.prev.right,
.carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top:0px;
  }
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
    height: 10%;
    width: auto;
}
#carousel-pager .carousel-control.left,#carousel-pager .carousel-control.right{
    width:10px;
    height:10px;
    border-radius: 50%;
    background:#FFF;
    opacity: 1;
    position: absolute;
    top:-65px;
    left:50%;
    transform: translateX(-50%);
}
#carousel-pager .carousel-control.right {
    top:unset;
    bottom: -65px;
    left:50%;
    transform: translateX(-50%);
}
.left .glyphicon,.right .glyphicon{
    position:absolute;
    top:13px;
    left:16px;
    color:#004C70;
}
.right .glyphicon{
    top:16px;
    left:15px;
}
.item img{
    padding: 5px;
    border-radius:5px;
    margin:5px;
}
.carousel{
    margin-top:80px;
}*/
